@model IEnumerable<SimpleCrudWithVue.Models.Project>

@{
    ViewData["Title"] = "Projects";
}


<div id="project_list">
    
    <ejs-grid :data-source='projects'
              id="grid_projects"
              ref="grid"
              :page-settings="settings.pageSettings"
              :edit-settings="settings.gridSettings.editSettings"
               height='273px'
              :row-selected='rowSelected'
              :allow-paging="true"
              :allow-sorting="true"
              :allow-filtering="true"
              :action-begin="onActionComplete"
              :filter-settings="settings.filterOptions"
              :toolbar="settings.toolbarOptions" 
              >
        
        <e-columns>
            <e-column type="string" field='name' header-text='Name' text-align='Center' width=150 :freeze="'Left'"></e-column>
            <e-column type="string" field='description' header-text='Description' text-align='Center' width=150 :freeze="'Left'"></e-column>
            <e-column type="date" field='fromDate' header-text='FromDate' text-align='Center' width=120 :freeze="'Left'"></e-column>
            <e-column type="number" field='price' header-text='Price' text-align='Center' edit-type='numericedit' width=150 format='C2' :validation-rules="ProductValueValidationRules" :freeze="'Left'"></e-column>
            <e-column foreign-key-value='name' :data-source='categories' field='categoryId' header-text='Category' 
                      :edit="categoryParams" text-align='Center' 
                      edit-type='dropdownedit' width=150 format='C2' ></e-column>
            
                <e-column text-align='Center' :columns="customColumns" ></e-column>

           

         @*    <e-column text-align="center" >
    
            </e-column> *@

         </e-columns>
    </ejs-grid>
</div>

@section scripts {
    <script src="~/js/projects.js" asp-append-version="true"></script>
}
