@model IEnumerable<SimpleCrudWithVue.Models.Category>

@{
    ViewData["Title"] = "Index";
}


    <div id="categories_list">
        <ejs-grid 
            :data-source="categories" 
            height=310
            :page-settings="settings.pageSettings"
            :edit-settings="settings.gridSettings.editSettings"
            :allow-paging="true"
            :allow-sorting="true"
            :allow-filtering="true"
            :action-begin="onActionComplete"
            :filter-settings="settings.filterOptions"
            :toolbar="settings.toolbarOptions">
            <e-columns>
                <e-column type="string" field='categoryId' header-text='Category ID' width='125'></e-column>
                <e-column type="string" field='name' header-text='Name' width='120'></e-column>
                <e-column header-text='Description' width='150' text-align='Center' :template='cTemplate'></e-column>
            </e-columns>
        </ejs-grid>
    </div>





@section scripts {
    <script src="~/js/Categories.js" asp-append-version="true"></script>
}

